/* 
Base Rules
	A Base rule is applied to an element using an element selector, a descendent selector, or a child selector, along with any pseudoclasses. It doesn’t include any class or ID selectors. It is defining the default styling for how that element should look in all occurrences on the page.
*/

@import url(href='http://fonts.googleapis.com/css?family=Raleway:300|Righteous' rel='stylesheet' type='text/css');

h3 {
  font: 300 35px/0.5 'Righteous', Helvetica, sans-serif;
    line-height: 1;
}

h1 {
  font: 300 35px/0.5 'Righteous', Helvetica, sans-serif;
    line-height: 1;  
}

h2 {
  font: 300 20px/0.5 'Righteous', Helvetica, sans-serif;
    line-height: 1;
}
 
p {
  font: 400 15px/1.5 'Raleway', Times, serif;
}

// Function for converting a px based font-size to rem.
@function calculateRem($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

// Mixin that will include the fall back px declaration as well as the calculated rem value.
@mixin fontSize($size) {
    font-size: $size;
    font-size: calculateRem($size);
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(http://fonts.gstatic.com/s/raleway/v9/-_Ctzj9b56b8RgXW8FArib3hpw3pgy2gAi-Ip7WPMi0.woff) format('woff');
}

@font-face {
  font-family: 'Righteous';
  font-style: normal;
  font-weight: 400;
  src: local('Righteous'), local('Righteous-Regular'), url(http://fonts.gstatic.com/s/righteous/v5/w5P-SI7QJQSDqB3GziL8XbO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

@mixin body-font-regular {
    font-family: 'Raleway', georgia, serif;
    font-style: normal;
    font-weight: 430;
}

@mixin headline-font {
    font-family: 'Righteous', helvetica, verdana, sans-serif;
    font-style: normal;
    font-weight: 400;
}